.border-orange {
  border: 1px solid #ff6501;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100px;
}
h5,
p,
a {
  font-size: 14px !important;
  margin: 5px;
}
