<section id="التخصيصات">
  <div class="container">
    <h3>التخصصات الأكثر طلباً</h3>
    <div class="row g-3">
      <div class="col-6 col-lg-2">
        <div class="border-orange rounded-3 m-0 text-center pt-3 pb-1">
          <img src="/Layer_1 (8).jpg" alt="" />
          <div>
            <h5 class="text-center mt-3">طب العيون</h5>
            <p class="fw-lighter text-center">
              عمليات المياه البيضاء والليزك وتصحيح الحول عند الأطفال وغيرها
              باحدث التقنيات
            </p>
          </div>
          <a
            href="#تواصل معانا"
            class="text-center bg-orange text-decoration-none text-white rounded-pill p-2 px-3"
            >إحجز الآن</a
          >
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="border-orange rounded-3 m-0 text-center pt-3 pb-1">
          <img src="/Layer_1 (7).jpg" alt="" />
          <div>
            <h5 class="text-center mt-3">الصحة النفسیة</h5>
            <p class="fw-lighter text-center">
              دعم نفسي متكامل یساعدك على حیاة أكثر توازنًا وراحة.
            </p>
          </div>
          <a
            href="#تواصل معانا"
            class="text-center bg-orange text-decoration-none text-white rounded-pill p-2 px-3"
            >إحجز الآن</a
          >
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="border-orange rounded-3 m-0 text-center pt-3 pb-1">
          <img src="/Frame (1).jpg" alt="" />
          <div>
            <h5 class="text-center mt-3">طب الأسنان</h5>
            <p class="fw-lighter text-center">
              لإبتسامة صحیة ومشرقة مع أحدث تقنیات طب الأسنان
            </p>
          </div>
          <a
            href="#تواصل معانا"
            class="text-center bg-orange text-decoration-none text-white rounded-pill p-2 px-3"
            >إحجز الآن</a
          >
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="border-orange rounded-3 m-0 text-center pt-3 pb-1">
          <img src="/Group (1).jpg" alt="" />
          <div>
            <h5 class="text-center mt-3">التجميل وزراعة الشعر</h5>
            <p class="fw-lighter text-center">
              نستخدم تكنولوجيا متقدمة لضمان نتائج دائمة وامنة مع نسبة نجاح عالية
            </p>
          </div>
          <a
            href="#تواصل معانا"
            class="text-center bg-orange text-decoration-none text-white rounded-pill p-2 px-3"
            >إحجز الآن</a
          >
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="border-orange rounded-3 m-0 text-center pt-3 pb-1">
          <img src="/Group.jpg" alt="" />
          <div>
            <h5 class="text-center mt-3">النساء والتوليد (الحقن المجهري)</h5>
            <p class="fw-lighter text-center">
              لتحقیق حلم الإنجاب بأحدث التقنیات الطبیة.
            </p>
          </div>
          <a
            href="#تواصل معانا"
            class="text-center bg-orange text-decoration-none text-white rounded-pill p-2 px-3"
            >إحجز الآن</a
          >
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="border-orange rounded-3 m-0 text-center pt-3 pb-1">
          <img src="/Layer_1.jpg" alt="" />
          <div>
            <h5 class="text-center mt-3">طب العيون</h5>
            <p class="fw-lighter text-center">
              عمليات المياه البيضاء والليزك وتصحيح الحول عند الأطفال وغيرها
              باحدث التقنيات
            </p>
          </div>
          <a
            href="#تواصل معانا"
            class="text-center bg-orange text-decoration-none text-white rounded-pill p-2 px-3"
            >إحجز الآن</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
