<section id="لماذا مصر">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <img src="/Frame 51355.png" class="w-100" alt="" />
      </div>
      <div class="col-sm-12 col-lg-6">
        <h2 class="display-2 fw-bolder mt-5 mb-2">لماذا مـصــر؟</h2>
        <div class="row">
          <div class="col-6 col-lg-6">
            <ul class="p-0">
              <li><img src="/Layer_31.jpg" alt="" />قل تكلفة</li>
              <li>
                <img src="/Frame (2).jpg" alt="" />خدمات طبية متطورة وحديثة.
              </li>
              <li><img src="/Frame (3).jpg" alt="" />خدمات سياحية فاخرة</li>
            </ul>
          </div>
          <div class="col-6 col-lg-6">
            <ul class="p-0">
              <li><img src="/Layer_1 (9).jpg" alt="" />أرقي المراكز الطبية</li>
              <li><img src="/Layer_1 (10).jpg" alt="" />أمهر الأطباء</li>
              <li><img src="/Frame (4).jpg" alt="" />أحترافية وراحة مثالية.</li>
            </ul>
          </div>
        </div>
        <a
          href="#تواصل معانا"
          class="text-center bg-orange text-decoration-none text-white rounded-pill p-1 px-3"
          >تواصل معانا</a
        >
      </div>
    </div>
  </div>
</section>
