<section id="الوجهات">
  <div class="container">
    <h3>أفضل الوجهات</h3>
    <div class="row g-3">
      <div class="col-6 col-md-3 col-lg-3">
        <div>
          <img src="/Frame 232235.jpg" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div>
          <img src="/Frame 232236.jpg" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div>
          <img src="/Frame 232237.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div>
          <img src="/Frame 232339.png" class="w-100" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
