<section class="bg-orange">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row mt-2">
          <div class="col-6">
            <ul class="d-flex flex-column align-items-end">
              <li><a href="#التخصيصات">التخصصات</a></li>
              <li><a href="#الوجهات">الوجهات</a></li>
              <li><a href="#لماذا مصر">لماذا مصر</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="d-flex flex-column align-items-sm-start">
              <li><a href="#الرئيسية">الرئيسية</a></li>
              <li><a href="#من نحن">من نحن</a></li>
              <li><a href="#اطبائنا">أطبائنا</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center gap-3">
          <div class="icon"><i class="fa-brands fa-snapchat"></i></div>
          <div class="icon"><i class="fa-brands fa-instagram"></i></div>
          <div class="icon"><i class="fa-brands fa-facebook"></i></div>
          <div class="icon"><i class="fa-brands fa-x-twitter"></i></div>
        </div>
        <h2 class="text-center text-white mt-2 fs-4">201040324920+</h2>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white mt-3">
          <img src="/Layer_1 (1).png" alt="" />
          <p>
            وجهتك الأفضل <br /><span class="fw-bolder fs-5">
              للسياحة العلاجية</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <h4>جميع الحقوق محفوظة</h4>
</section>
