<section id="من نحن">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center p-0 info">
        <div>
          <h3>من نــحــــن؟</h3>
          <p class="fw-bolder w-100 fs-5">
            تاون كير هي شركة متخصصة في السياحة العلاجية، نقدم خدمات طبية متكاملة
            بأعلى المعايير العالمية، مع توفير تجربة علاجية مريحة وأمنة لعملائنا
            من الدول العربية.
          </p>
        </div>

        <div class="text-center">
          <img src="/Frame 51359.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
