<section>
  <h2 class="text-white fs-3 animate__animated animate__fadeInDown">
    مستشفيات بمعايير عالمية
  </h2>

  <div class="container">
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      <div class="photo animate__animated animate__zoomIn">
        <img src="/Layer_1 (4).jpg" alt="" />
      </div>
      <div class="photo animate__animated animate__zoomIn animate__delay-1s">
        <img src="/Layer_1 (3).jpg" alt="" />
      </div>
      <div class="photo animate__animated animate__zoomIn animate__delay-2s">
        <img src="/Layer_1 (2).jpg" alt="" />
      </div>
      <div class="photo animate__animated animate__zoomIn animate__delay-3s">
        <img src="/Layer_1 (1).jpg" alt="" />
      </div>
      <div class="photo animate__animated animate__zoomIn animate__delay-4s">
        <img src="/Layer_1.jpg" alt="" />
      </div>
      <div class="photo animate__animated animate__zoomIn animate__delay-5s">
        <img src="/Group 115.jpg" alt="" />
      </div>
      <div class="photo animate__animated animate__zoomIn animate__delay-6s">
        <img src="/Layer_1 (6).jpg" alt="" />
      </div>
    </div>
  </div>
</section>
