<section id="اطبائنا">
  <div class="container">
    <h3>تعرف على أفضل الأطباء</h3>
    <swiper-container
      [slidesPerView]="4"
      [speed]="500"
      [loop]="true"
      [breakpoints]="breakpointsConfig"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
    >
      <!-- pagination="true"  navigation="true"  -->
      <swiper-slide class="text-center">
        <img src="/image (10).png" alt="" />
        <h4>د/ اسامة ابو المجد</h4>
        <p>
          أستاذ المخ والأعصاب والطب النفسى وعلاج الإدمان_استشارى أمراض النوم
        </p>
      </swiper-slide>
      <swiper-slide class="text-center">
        <img src="/image (11).png" alt="" />
        <h4>د/ أحمد فوزي</h4>
        <p>أخصائى امراض النسا والتوليد والحقن المجهرى</p>
      </swiper-slide>
      <swiper-slide class="text-center">
        <img src="/image (9).png" alt="" />
        <h4>د/ نيللي شمس</h4>
        <p>استشاري التغذية العلاجية والصحة العامة</p>
      </swiper-slide>
      <swiper-slide class="text-center">
        <img src="/image (8).png" alt="" />
        <h4>د/ احمد مصطفى</h4>
        <p>
          أستاذ أمراض النسا والتوليد وعلاج العقم_كلية الطب_جامعة الاسكندريه_زميل
          الكليه الملكيه_انجلترا
        </p>
      </swiper-slide>
      <swiper-slide class="text-center">
        <img src="/Layer 1 2 (1).png" alt="" />
        <h4>د/ خالد البسومي</h4>
        <p>أخصائى امراض النسا والتوليد والحقن المجهرى</p>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
