<section>
  <div class="container">
    <h3 class="animate__animated animate__fadeInDown">
      استضافة بمعايير عالمية
    </h3>

    <swiper-container
      [slidesPerView]="4"
      [speed]="500"
      [loop]="true"
      [breakpoints]="breakpointsConfig"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
      class="animate__animated animate__fadeInUp animate__delay-1s"
    >
      <swiper-slide class="text-center">
        <img
          src="/image.png"
          alt="Image 1"
          class="animate__animated animate__zoomIn"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (1).png"
          alt="Image 2"
          class="animate__animated animate__zoomIn animate__delay-1s"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (2).png"
          alt="Image 3"
          class="animate__animated animate__zoomIn animate__delay-2s"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (3).png"
          alt="Image 4"
          class="animate__animated animate__zoomIn animate__delay-3s"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (4).png"
          alt="Image 5"
          class="animate__animated animate__zoomIn animate__delay-4s"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (5).png"
          alt="Image 6"
          class="animate__animated animate__zoomIn animate__delay-5s"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (6).png"
          alt="Image 7"
          class="animate__animated animate__zoomIn animate__delay-6s"
        />
      </swiper-slide>
      <swiper-slide class="text-center">
        <img
          src="/image (7).png"
          alt="Image 8"
          class="animate__animated animate__zoomIn animate__delay-7s"
        />
      </swiper-slide>
    </swiper-container>
  </div>
</section>
