<section id="تواصل معانا">
  <div class="container-fluid">
    <div class="row p-4 m-5 bg-orange rounded-bottom-3">
      <div class="col-12 col-md-9">
        <h4 class="fs-3 text-white">تواصـــل معـنـا و ابدأ رحلة العلاج</h4>
      </div>
      <div class="col-12 col-md-3 text-center">
        <span class="fs-4">احجز الان</span>
      </div>
    </div>
    <form
      class="border-design"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="d-flex justify-content-between mx-5 my-3 meida">
        <div class="w-100">
          <label for="name"
            >الاسم
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="name"
            type="text"
            class="form-control older-orange shadow-none"
            id="name"
            placeholder="ادخل اسمك"
          />
        </div>
        <div class="w-100">
          <label for="phone"
            >ادخل هاتفك
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="phone"
            type="tel"
            class="form-control older-orange shadow-none"
            id="phone"
            placeholder="ادخل رقم الهاتف"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between mx-5 my-3 meida">
        <div class="w-100">
          <label for="email"
            >البريد الإلكتروني
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="email"
            type="email"
            class="form-control older-orange shadow-none"
            id="email"
            placeholder="ادخل البريد الإلكتروني "
          />
        </div>
        <div class="w-100">
          <label for="Specialties"
            >التخصص
            <span class="text-danger">*</span>
          </label>
          <input
            formControlName="specialization"
            type="text"
            class="form-control older-orange shadow-none"
            id="specialization"
            placeholder="اختر التخصص الذي تريده"
          />
        </div>
      </div>
      <div class="mx-5">
        <label for="description">
          شكوي طيبة
          <span class="text-danger">*</span>
        </label>
        <textarea
          formControlName="description"
          class="form-control older-orange shadow-none mb-5"
          id="description"
          rows="3"
          placeholder="اكتب ملاحظاتك "
        ></textarea>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button class="border-0 rounded-2 text-white mb-3 bttn bg-orange">
          ارسال
        </button>
      </div>
    </form>
  </div>
</section>
