@media (max-width: 768px) {
  h4 {
    text-align: center;
  }
}

@media (max-width: 510px) {
  h4 {
    font-size: 16px !important;
  }
  span {
    font-size: 16px !important;
  }
}
span {
  color: #ff8331;
  border-radius: 30px;
  background-color: white;
  padding: 0 10px;
  font-weight: 700;
}
.older-orange {
  border: 1px solid #ff8331;
}
.border-design {
  border: 1px solid #ff8331;
  border-top: 0;
  margin: -55px 48px 48px;
  padding-top: 20px;
}
label {
  padding-bottom: 5px;
}
input {
  width: 95%;
}
textarea {
  width: 98%;
}
.bttn {
  padding: 5px 30px;
  font-size: 18px;
}
@media (max-width: 650px) {
  .meida {
    display: flex;
    flex-direction: column;
  }
  .bttn {
    font-size: 16px;
  }
}
