<header id="الرئيسية">
  <div class="container">
    <div class="col-lg-4">
      <div class="style">
        <h1
          class="display-1 pb-3 fw-bolder animate__animated animate__fadeInDown"
        >
          تاون كير
        </h1>
        <h2
          class="display-6 fw-lighter my-2 animate__animated animate__fadeInUp animate__delay-1s"
        >
          وجهتك الأفضل <span class="fw-bold"> <br />للسياحة العلاجية</span>
        </h2>
        <p
          class="fw-light fs-4 animate__animated animate__fadeIn animate__delay-2s"
        >
          أفضل المستشفيات والمراكز الطبية المتخصصة كلها في مكان واحد
        </p>
        <a
          href="#تواصل معانا"
          class="text-decoration-none text-white rounded-5 bg-orange px-4 py-1 fw-bolder fs-5 animate__animated animate__zoomIn animate__delay-2s"
          >إحجز الآن</a
        >
      </div>
    </div>
  </div>
</header>
